# Python
__pycache__/
*.py[cod]
*$py.class
import_data.csv


# Virtual Environments
.venv/
venv/
env/


# Database & Logs
instance/*.db
*.log
.flaskenv
migrations
*.csv
import_expenses_history.py
import_once.py
expenses_history.csv    
import_data.csv
import_income_history.py


# IDE
.vscode/
.idea/


# OS
.DS_Store
Thumbs.db
structure.txt 
