# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual Environments
.venv/
venv/
env/

# Database & Logs
instance/*.db
*.log
.flaskenv
migrations

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
structure.txt 